<html>
  <title>Hangout</title>
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  <script src="/js/jquery-3.1.0.min.js"></script>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/moment.js"></script>
  {{#if page}}
  <script>
    var myid   = '{{user.id}}';
    var myname = '{{user.name}}';
    var pic    = '{{user.pic}}';
  </script>
  <script src="./socket.io/socket.io.js"></script>
  <script type="text/javascript"> var socket = io.connect();</script>
  <script src="/js/socket.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
  <body style="margin:40px 20px;">
    {{{body}}}
  </body>
</html>