Todo : <ul>
    <li>Handle disconnect event</li>
</ul>
<div class="ui card useslist">
  <div class="content">
    <div class="header teal ui">Hangout</div>
  </div>

  <div class="content">
    <div class="ui secondary vertical menu fluid onlineusers">

    </div>  
  </div>
</div>

{{! 
<div class="chat-messages" class="animate">
    <label>Thursday 02</label>
    
    <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg">
        <div class="bubble">
            Really cool stuff!
            <div class="corner"></div>
            <span>3 min</span>
        </div>
    </div>
    
    <div class="message right">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg">
        <div class="bubble">
            Can you share a link for the tutorial?
            <div class="corner"></div>
            <span>1 min</span>
        </div>
    </div>
    
    <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg">
        <div class="bubble">
            Yeah, hold on
            <div class="corner"></div>
            <span>Now</span>
        </div>
    </div>
    
    <div class="message right">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg">
        <div class="bubble">
            Can you share a link for the tutorial?
            <div class="corner"></div>
            <span>1 min</span>
        </div>
    </div>
    
    <div class="message">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg">
        <div class="bubble">
            Yeah, hold on
            <div class="corner"></div>
            <span>Now</span>
        </div>
    </div>
    
</div> }}

<input type="button" onclick="window.location='http://localhost:3000/login/aamit/aamit'" value="Refresh">