<div class="ui card useslist">
  <div class="content">
    <div class="header teal ui">Hangout</div>
  </div>

  <div class="content">
    <div class="ui secondary vertical menu fluid onlineusers">

    </div>  
  </div>
</div>