<div class="ui card useslist">
  <div class="content">
    <div class="header teal ui">Hangout</div>
  </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
      <a class="item user" id="Amit">
        Amit
      </a>
      <a class="item user" id="Pooname">
        Poonam
      </a>    
      <a class="item user" id="Akhil">
        Akhil
      </a>
    </div>  
  </div>
</div>